body, p{
    margin: 0px;
    padding: 0px;
    background-color: wheat;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 150px;
}

@media (max-width: 480px){
    body{
        background-color: blue;
    }
}